[defaults]
inventory = ./inventory
roles_path = ./roles
retry_files_enabled = False
log_path = /tmp/ansible.log
callback_enabled = profile_tasks, yaml
collections_path = collections
timeout = 5

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
